* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #141414;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: initial;
}

footer li {
    display: flex;
    gap: 10px;
    align-items: center;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.subtitulo {
    font-size: 8rem;
    line-height: 1;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 4ch;
}

@media (max-width: 800px) {
    .subtitulo {
        font-size: 3rem;
        text-transform: capitalize;
        max-width: initial !important;
    }
}