.introducao {
    align-items: center;
}

.introducao h2 {
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 30px;
    position: relative;
}

.introducao h2::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url('../img/detalhe.svg') no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.introducao p {
    font-size: 1.5rem;
    color: #525252;
}

@media (max-width: 800px) {
    .introducao {
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      /* text-align: center; */
    }
    .introducao h2 {
      font-size: 2rem;
    }
    .introducao h2::before {
      width: 30px;
      height: 10px;
      left: 0px;
    }
}


  /* @media (width <= 800px) */
@media (max-width: 400px) {
    .introducao {
      grid-template-columns: 1fr;
    }
    .introducao img {
      display: none;
    }
}
  
